.vs/
docs/site/
GymOS.Client/bin/
GymOS.Client/obj/
GymOS.DataModel/bin/
GymOS.DataModel/obj/
GymOS.Migrations/bin/
GymOS.Migrations/obj/
GymOS.Server/appsettings.*
GymOS.Server/bin/
GymOS.Server/obj/
GymOS.Services/bin/
GymOS.Services/obj/
GymOS.Shared/bin/
GymOS.Shared/obj/