@page "/"
@inherits IndexBase

<div id="index" class="base">
    <div id="navigation-cards" class="navigation">
        <NavigationCard Destination="Schedule"/>
        <NavigationCard Destination="About" />
        <NavigationCard Destination="Portal" />
    </div>
    <div id="call-to-action" class="cta">
        <PrimaryButton Text="Join the Community!" ClickAction="@HandleJoin"/>
    </div>
</div>